<div class="container d-inline-flex bghv">
    <img class="personalimg mx-auto m-3" src="assets/ar.jpg" alt="imagen Andres Rivera">
    <h1 class="d-flex align-items-center mx-auto m-3 h1">HOJA DE VIDA</h1>
  </div>
  <div class="container-fluid mb-3 ">

    <div class="row mt-3">
      <div class="col-lg-3 mt-3 text-center">
        <div class="h5 mb-2">DATOS PERSONALES</div>
        <div class="card mb-2 p-1">
          <div class="h6">Jesus Ricardo Andres Rivera Muñoz</div>
        </div>
        <div class="card mb-2 p-1">
          <div class="h6">1996/04/17</div>
        </div>
        <div class="card mb-2 p-1">
          <div class="h6">
            1063815674
          </div>
        </div>
        <div class="card mb-3 p-1">
          <div class="h6">
            rivera.andres6@gmail.com
          </div>
        </div>
      </div>
      <div class="col-lg-3 mt-3 text-center">
        <div class="h5 mb-2">PASATIEMPO</div>
        <div class="card mb-2 p-1">
          <div class="h6">Jugar League of legends en mis tiempos libres</div>
        </div>
        <div class="card mb-2 p-1">
          <div class="h6">Hablar con amigos</div>
        </div>
        <div class="card mb-2 p-1">
          <div class="h6">
            Pensar
          </div>
        </div>
      </div>
      <div class="col-lg-3 mt-3 text-center">
        <div class="h5 mb-2">PASATIEMPO</div>
        <div class="card mb-2 p-1">
          <div class="h6">Primaria Colegio San Antonio De Padua</div>
        </div>
        <div class="card mb-2 p-1">
          <div class="h6">Secundaria Codespa</div>
        </div>
        <div class="card mb-2 p-1">
          <div class="h6">
            Fundacion Universitaria de Popayan - Ing-Sistemas
          </div>
        </div>
      </div>
      <div class="col-lg-3 mt-3 text-center">
        <div class="h5 mb-2">CONTACTO</div>
        <div class="card mb-2 p-1">
          <div class="h6">3235056137</div>
        </div>
        <div class="card mb-2 p-1">
          <div class="h6">rivera.andres6@gmail.com</div>
        </div>
        <div class="card mb-2 p-1">
          <div class="h6">
            rivera.andres@unividafup.edu.co
          </div>
        </div>
      </div>

    </div>
